<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2015  Xiaolong Tang

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
  -->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.ning.last-photo-taken"
    version="0.0.2">

<name>Last Photo Taken</name>
<description>PhoneGap plugin to retrieve the last photo taken.</description>
<license>Apache 2.0</license>
<keywords>cordova,camera</keywords>
<repo>https://github.com/xlongtang/cordova-last-photo-taken.git</repo>
<author>Jonathan Aquino, Xiaolong Tang</author>

<js-module src="www/last_photo_taken.js" name="LastPhotoTaken">
    <clobbers target="navigator.LastPhotoTaken" />
</js-module>

<engines>
    <engine name="cordova" version=">=3.1.0" />
</engines>


<!-- android -->
<platform name="android">
  <config-file target="res/xml/config.xml" parent="/*">
    <feature name="LastPhotoTaken" >
      <param name="android-package" value="com.infobeyond.nxdrive.LastPhotoTaken"/>
    </feature>
  </config-file>

  <config-file target="AndroidManifest.xml" parent="/*">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  </config-file>

  <source-file src="src/android/LastPhotoTaken.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/IImageList.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/IImage.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/LruCache.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/BaseImage.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/Image.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/BaseImageList.java" target-dir="src/com/infobeyond/nxdrive" />
  <source-file src="src/android/ImageList.java" target-dir="src/com/infobeyond/nxdrive" />

</platform>

<platform name="ios">

    <!-- config file -->
    <config-file target="config.xml" parent="/*">
        <feature name="LastPhotoTaken">
            <param name="ios-package" value="LastPhotoTaken" />
        </feature>
    </config-file>

    <!-- core LastPhotoTaken header and source files -->
    <header-file src="src/ios/LastPhotoTaken.h" />
    <source-file src="src/ios/LastPhotoTaken.m" />

</platform>

</plugin>
